__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

build/
dist/
*.egg-info/
.eggs/

venv/
.env/
.envrc

.envs/
conda-meta/

.ipynb_checkpoints/

.vscode/


.DS_Store
Thumbs.db

*.log

.streamlit/secrets.toml

data/
outputs/
*.csv
*.xlsx

*.tmp
*.bak
*.swp